body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #f9f9f9;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
    text-align: justify;
    margin-top: auto;
  }
  h1 {
    font-size: 50px;
  }
